.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
local.properties
local/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Kotlin ###
.kotlin

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Clanker ###
.claude/
